body {
    font-family: Arial, sans-serif;
    background-color: #c9d5fe;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Increase font size */
}

header {
    background-color: #270b4a; /* Green color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px; /* Increase font size */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /* Add padding */
    background-color: #333; /* Dark grey background */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

nav ul li a:hover {
    background-color: #555; /* Darker grey on hover */
    color: #fff; /* White text on hover */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

/* Add responsive styles here */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        margin-right: 10px;
    }

    main {
        padding: 10px;
    }
}
